<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="controller_action_predispatch">
        <observer name="admin_example" instance="Neem\Sync\Observer\Admin\Example" />
    </event> -->
    <event name="checkout_onepage_controller_success_action">
        <observer name="admin_example" instance="Neem\Sync\Observer\Admin\Example" />
    </event>
</config>
